{:deps {
        org.clojure/spec.alpha {:mvn/version "0.2.187"}
        com.brunobonacci/mulog {:mvn/version "0.5.0"}

        datascript             {:mvn/version "1.0.1"}
        metosin/malli          {:mvn/version "0.0.1-20200715.082439-21"}}

 :paths ["src"]

 :aliases {
           :dev
           {:extra-paths ["test"]
            :extra-deps {expectations/clojure-test {:mvn/version "RELEASE"}}}

           :test
           {:extra-paths ["test"]
            :extra-deps {expectations/clojure-test {:mvn/version "RELEASE"}}}

           :test-path
           {:extra-paths ["test"]}}}
